* {
    box-sizing: border-box;
}

.tituloprincipal {
    
    text-align: center;
    font-size: 80px;
    color: #00447A;
    font-family: Arial, Helvetica, sans-serif;
    padding: -50px;
}

.curva{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-top-left-radius: 140% 60px;
    border-top-right-radius: 170% 50px;
}
.cont-titulo {
    position: relative;
    background-image: url('https://i.postimg.cc/zfpG0F5f/fugadegas.jpg'); /* tu imagen */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.procedimientos {
    text-align: center;
    font-size: 50px;
    padding: 100px;
    color: #00447A;
    font-family: Arial, Helvetica, sans-serif;
}

.listaprocedimientos {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #00447A;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafito {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.columna1 {
    margin-right: 200px;
    width: 30%;
}

.columna2 {
    width: 30%;
}

.contenedor-lista {
    display: flex;
    justify-content: center;
}

.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    color: #00447A;
    padding: 10px;
}